body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    font-size: 36px;
}

img {
    width: 100%;
}

div.row {
    display:flex;
    flex-wrap: wrap;
}

div.col {
    outline: 2px solid rgb(255, 255, 255);
    height: 400px;
}

div.width100 {
    width: 100%;
}

div.width50 {
    width: 50%;  
    background-image: url("shrub.JPG");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom; 
}

div.width100 {
    width: 100%;   
}

div.width16 {
    width: 16.66%;
}

div.width66 {
    width: 66.66%;
    background-image: url("bike.JPG");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
}

div.width33 {
    width:33.33%;
    background-image: url("shrub.JPG");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
}

div.width20 {
    width: 20%;
}

div.bgred {
    background-color: rgb(255, 255, 255);
}

div.hero {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 700px;
}

div.hero2   {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

div.web   {
    outline: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

video.webcam {
    height:30vh;
    object-fit:cover;
    position: fixed;
    top: 400px;
    margin-left: 600px;
  }


div.menu {
    background-color: beige;
    top: 40px;
    left: 90%;
    font-size: 25px;
    position: fixed;
    
}

div.menu:hover {
    background-color: rgb(103, 141, 84);
}

div.row2 {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    object-fit:scale-down;
}

div.title {
    background-color: beige;
    top: 40px;
    width: 100%;
    position: fixed;
    scroll-padding-left: 100%;
}

div.row {
    background-color: beige;
    bottom: 40px;
    width: 100%;
    position: fixed;
    scroll-padding-left: 100%;
}

div.title-animation {
animation-duration: 10s;
}

div.title:hover {
    background-color: rgb(77, 166, 103);
}

div.img {
    object-fit: cover;
}

div.coloranimation {
    background-color: red;
    animation: name 5s infinite;

}

@keyframes blinker {
    50%{
        opacity: 0%;
    }
}


div.trigger {
    border:2px solid red;
    display:inline-block;
    padding:5px;
    font-size:36px;
    cursor:pointer;
  }

div.text {
  font-size:36px;
}

div.one {
    background-image: url("tree.JPG");
    background-size: cover;    
}

div.two {
    background-image: url("table.JPG");
    background-size: cover;    
}

div.three {
    background-image: url("bike.JPG");
    background-size: cover;    
}

div.four {
    background-image: url("shrub.JPG");
    background-size: cover;    
}

div.five {
    background-image: url("view.JPG");
    background-size: cover;    
}

div.six {
    background-image: url("grass.JPG");
    background-size: cover;    
}

div.seven {
    background-image: url("cyclist.JPG");
    background-size: cover;    
}

div.eight {
    background-image: url("table.JPG");
    background-size: cover;   
    outline: 1px solid red; 
}

div.nine {
    background-image: url("view.JPG");
    background-size: cover;   
    outline: 1px solid rgb(95, 212, 95); 
}

div.ten {
    background-image: url("cyclist.JPG");
    background-size: cover;
    outline: 1px solid green;    
}

/* make sure to hide the audio player for a more seemless experience */

audio.music {
  display;
  padding-top: 20px;
}

marquee.right  {
    padding-bottom: 20px;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50%{
        opacity: 0%;
    }
}